.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.status {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #7a98e3;
    color: #4141b2;
    border: 2px solid #4141b2;
    border-radius: 10px;
    line-height: 40px;
}