.game {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.game-info {
    padding-left: 40px;
}

.game-info ol {
    padding: 0;
    list-style: none;
}

.game-info ol li button{
    background-color:aliceblue;
    border: 2px solid #4141b2;
    border-radius: 10px;
    font-size: 18px;
    line-height: 30px;
    color: #4141b2;
    margin-bottom: 10px;
}