.square {
    height: 64px;
    width: 64px;
    padding: 0;
    margin: 10px;
    background-color: #7a98e3;
    border: 2px solid #4141b2;
    border-radius: 10px;
    float: left;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #4141b2;
}